<nav class="navbar navbar-expand-sm bg-light navbar-light py-1 sticky-top border-bottom shadow-sm p-2 bg-white rounded">
    <a routerLink="" class="navbar-brand">
        <img src="../../assets/images/rent.png" alt="logo" class="h-25 d-inline-block" style="width: 40px;">
        <span class="text-uppercase font-weight-bold ml-2 text-center">Cinérent</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/allservices/services">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/allservices/camera">Cameras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/allservices/sound">Sound</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/allservices/lighting">Lighting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/allservices/accessories">Accessories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/allservices/studio">Studios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/check">Check Out</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/table">In Sock</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About Us</a>
            </li>
        </ul>
    </div>
</nav>