<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">CINERENT © </h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ab, ullam autem animi
            exercitationem quia quisquam quidem in mollitia ea fugit explicabo provident veritatis odit praesentium
            excepturi eum, facere laudantium!</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi iure facere facilis a, ipsam in iste nostrum
            eius provident necessitatibus similique ratione nam quasi quos, esse sint reprehenderit nobis dolor.</p>
        <p class="lead">
            <a class="btn btn-lg btn-outline-secondary text-black" routerLink="" role="button">Learn more</a>
        </p>
    </div>
</div>